<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Garden</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="tags">
    <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>Home</a> |
    <% if (user) { %>
      <a href="/plants" <%- title === 'My Garden' ? 'class="active"' : '' %>>My Garden</a> |
      <a href="/plants/new" <%- title === 'Add Plant' ? 'class="active"' : '' %>>Add Plant</a> |
      <a href="/logout">LOG OUT</a> 
      <img src="/images/blossoms.png" alt="blossoms" class="blossom" style="width: 70px; height: 25px;">
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
  </nav>