* {
  font-family: 'Playfair Display SC', serif;
  color: #1b5d10;
  background-color: #d4e8b2;
}

h1 {
  font-size: 50px;
  text-align: center;
}
div {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

a {
  font-size: 20px;
}

a:hover {
  color: rgb(254, 151, 197);
}

.picture {
  border: 8px solid #ffffff;
  max-width: 300px;
  height: auto;
}

textarea {
  background-color: white;
  width: 700px;
  padding: 20px;
  margin: 30px;
}

#submitob {
  background-color: white;
}

#submitob:hover {
  background-color: #1b5d10;
  color: white;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.observation-user {
  justify-content: center;
  align-items: center;
  height: 60px;
}

.observation-user img {
  height: 50px;
  border-radius: 50%;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#observation-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 70%;
}

#observation-table thead th {
  padding: 8px;
}

#observation-table tbody td {
  padding: 8px;
  text-align: center;
}

.observation-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.observation-content {
  word-wrap: break-word;
}

.observation-delete button {
  color: rgb(254, 151, 197);
  border-color: rgb(254, 151, 197);
}

.observation-delete button:hover {
  color: #1b5d10;
  background-color: rgb(254, 151, 197);
}
