* {
  background-image: url('background.png');
  background-size: cover;
  position: static;
  font-family: 'Playfair Display SC', serif;
  color: #1b5d10;
  background-color: #d4e8b2;
}

a {
  font-size: 20px;
  background: #d4e8b2;
}

a:hover {
  color: rgb(254, 151, 197);
}

#home-text {
  font-size: 35px;
  text-align: center;
}

#home-text > h2 {
  font-size: 20px;
  text-align: center;
}
