* {
  font-family: 'Playfair Display SC', serif;
  color: #1b5d10;
  background-color: #d4e8b2;
}

a {
  font-size: 20px;
}

a:hover {
  color: rgb(254, 151, 197);
}

h2 {
  font-size: 40px;
  text-align: center;
  padding: 0 auto;
}

label {
  font-size: 30px;
}

.input {
  background-color: white;
  color: black;
}

button {
  display: inline;
  padding: 0px;
  color: #1b5d10;
  border: 3px solid #d4e8b2;
  font-size: 25px;
}

button:hover {
  color: rgb(254, 151, 197);
  background-color: #d4e8b2;
}

#gardentool {
  display: block;
  margin: auto;
  height: 200px;
  width: 350px;
}

.trowel {
  display: block;
  margin: auto;
  height: 65px;
  width: 65px;
}

#form-new {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}
