* {
  font-family: 'Playfair Display SC', serif;
  color: #1b5d10;
  background-color: #d4e8b2;
}
#home-text {
  font-size: 35px;
  text-align: center;
}

#home-text > h2 {
  font-size: 20px;
  text-align: center;
}

a {
  font-size: 20px;
}

#mygarden-page > h1 {
  font-size: 40px;
  text-align: center;
}

#mygarden-page > h2 {
  font-size: 30px;
  text-align: center;
}

#plant-list {
  font-size: 30px;
}

body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type='submit'] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-review-form input[type='submit'] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.picture {
  border: 8px solid #ffffff;
  max-width: 300px;
  height: auto;
}
