<%- include('../partials/header') %>
<h2>Plant Something New</h2>
<form action="/plants" method="POST">
  <label>Image Address:
    <input type="text" name="imageLink">
  </label><br><br>
  <label> Name:
    <input type="text" name="name">
  </label><br><br>
  <label>Plant Type:
    <select name="plantType">
      <option value="flower">Flower</option>
      <option value="fruit">Fruit</option>
      <option value="vegetable">Vegetable</option>
      <option value="shrub">Shrub</option>
      <option value="herb">Herb</option>
      <option value="other">Other</option>
    </select>
  </label><br><br>
  <label>Date Planted:
    <input type="date" name="datePlanted">
  </label><br><br>
  <label> Sunshine Recommendation: 
    <select name="sunshineRec">
      <option value="fullSun">Full Sun</option>
      <option value="partSun">Partial Sun(3-6 hours/day)</option>
      <option value="partShade">Partial Shade(3-6 hours/day)</option>
      <option value="fullShade">Full Shade</option>
    </select><br><br>
    <label>Water Recommendation</label>
      <input type="text" name="waterRec">
  </label><br><br>
  <button type="submit">Plant!</button>
</form>
<%- include('../partials/footer') %>