<%- include('./partials/header') %>
<link rel='stylesheet' href='/stylesheets/background.css' />
<section id="home-text">
  <h1>Welcome to My Garden</h1>
  <h2>"To plant a garden is to believe in tomorrow." - Audrey Hepburn</h2>
</section>
<%- include('./partials/footer') %>
